@import "reset";

$xsmall: 360px;
$small: 640px;
$medium: 1024px;
$large: 1440px;
$xlarge: 1920px;

* { box-sizing: border-box }

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  font-size: 80%;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p {}

label {
  font-size: .75em;
}

select,
input[type="text"],
input[type="number"],
textarea {
  display: block;
  position: relative;
  left: -.15em;
  font-size: 1.25em;
}
  input[type="text"] {
    width: 12em;
  }
  input[type="number"] {
    width: 4em;
  }
  textarea {
    width: 20em;
    height: 7em;
  }

#app {
  height: 100%;
}

#main {
  height: 100%;

  @media (min-width: $medium) {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
  }
}

.col {
  @media (min-width: $medium) {
    &.lg {flex: 0 0 65%;}
    &.sm {flex: 0 0 35%;}
  }
}

#container {
  height: 100%;
  padding: 1em;

  .element {
    padding: 1em;

    .wrap {
      padding: 1em 1.2em;
      background: #f4f4f4;
      border: 1px solid #f4f4f4;
      transition: opacity .3s, border-color .3s;

      &:hover {
        cursor: pointer;
        opacity: .8;
        border: 1px solid #bbb;
      }

      .props {
        margin-bottom: 1.2em;
        padding-bottom: .6em;
        border-bottom: 1px solid #bbb;
        text-transform: uppercase;
        font-size: .7em;
        font-weight: bold;

        .order {
          float: right;
        }
      }

      .content {

      }
    }

    &.selected {
      .wrap {
        border: 1px solid #bbb;
        box-shadow: 0 0 .6em -.05em rgba(0,0,255,.4);
      }
    }
  }
}

#controls {
  height: 100%;
  padding: 1em 1.6em;
  background: #f4f4f4;
}

.header {
  margin-bottom: 1.6em;

  .byline {
    font-size: .9em;
    font-style: italic;
  }

}

.panel {
  border-left: 1px solid #bbb;
  padding-left: 1.2em;
  margin-bottom: 1.8em;

  .title {
    margin-bottom: .4em;
  }

  .control {
    display: inline-block;
    margin: 0 1.2em .7em 0;
    padding-left: .1em;
    vertical-align: top;
  }
}

.no-selection {
  background: #f0f0f0;
  text-align: center;
  padding: 3.2em 2em;
  font-style: italic;
  color: #666;
  font-size: 1.4em;
}

.add {
  text-align: center;
  padding: 1em;

  a {
    display: inline-block;
    border-radius: 1.4em;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    background: transparent;
    border: 3px solid #aaa;
    color: #aaa;
    font-size: 3.5em;
    line-height: 1.2em;
    font-family: sans-serif;
    transition: transform .8s, color .4s, border-color.4s;
    transform: scale(1,1);
    user-select: none;

    &:hover {
      cursor: pointer;
      transform: scale(1.2,1.2);
      border-color: SteelBlue;
      color: SteelBlue;
    }
  }
}
